@{
    ViewBag.Title = "About";
}
<div class="container">
    <h1>Testing for COVID-19</h1>
    <p>
        Everyone in Northern Ireland with symptoms of COVID-19 is eligible for a free test.
        <br />The symptoms of COVID-19 are:
    </p>
    <ul>
        <li>a high temperature – this means you feel hot to touch on your chest or back (you do not need to measure your temperature); OR</li>
        <li>a new, continuous cough – this means coughing a lot for more than an hour, or 3 or more coughing episodes in 24 hours (if you usually have a cough, it may be worse than usual); OR</li>
        <li>a loss of or change in sense of smell or taste.</li>
    </ul>
    <hr/>
    <h3>Booking a PCR Test</h3>
    <p>
        There are a number of ways you can arrange to get a PCR test in Northern Ireland.<br/>
        Everyone in Northern Ireland with symptoms of COVID-19, or who is identified as a close contact of a positive case of COVID-19, is eligible for a free test.<br/>
        The test procedure is a ‘self-test’ process. If a child needs tested, a parent/ guardian will need to arrive at the site prepared to swab the child.<br/>
        If you have symptoms, or are a contact of someone who has tested positive, you can be tested at one of the drive or walk through test centres, or at a mobile testing unit.
    </p>
    <ul>
        <li><a href="#">Book a Test Online<br /></a></li>
    </ul>
    <p>If you are unable to attend a test site you can order a <a href="https://www.gov.uk/get-coronavirus-test">postal self-test kit online</a></p>
    <p>
        On day eight of having symptoms, you need to go to a test site, it’s too late to order a home test kit.<br/>
        <ul>
            <li><a href="#">Testing site locations and opening hours<br /></a></li>
        </ul>
        If you need help booking a test, or have any questions, telephone the free phone number 119.<br/>
    </p>
</div>


