@{
    ViewBag.Title = "Contact";
}
<h2>Contacting Us</h2>
<h3>Department of Health</h3>

<address>
    Information Office, C5.20<br />
    Castle Buildings, Stormont<br />
    Belfast<br/>
    BT4 3SQ<br/>
    United Kingdom<br/>
    <abbr title="Phone">P:</abbr>
    028 9052 0500
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:webmaster@health-ni.gov.uk">webmaster@health-ni.gov.uk</a><br />
    <strong>Website:</strong> <a href="https://www.health-ni.gov.uk/">Department of Health</a>
</address>